*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f5f7fa;
}

.hero{

height:350px;

background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.45)
),
url("https://images.unsplash.com/photo-1438032005730-c779502df39b?w=1920");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

color:white;
text-align:center;
}

.hero h1{

font-size:60px;
}

.hero p{

font-size:20px;
margin-top:10px;
}

.container{

width:90%;
margin:auto;

padding:50px 0;
}

.section-title{

color:#1565c0;

border-left:4px solid #35afe5;

padding-left:12px;

margin-bottom:20px;
}

.church-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;
}

.church-card{

background:white;

padding:30px;

border-radius:18px;

text-decoration:none;

color:#0f254d;

box-shadow:
0 8px 20px rgba(0,0,0,.08);

transition:.3s;
}

.church-card:hover{

background:#35afe5;

color:white;

transform:
translateY(-5px);
}