.gereja-section {

  padding: 140px 80px;

  background: #eef5fb;

  min-height: 100vh;
}

/* TITLE */

.title-box {

  text-align: center;

  margin-bottom: 60px;
}

.title-box h1 {

  font-size: 60px;

  color: #11184d;

  font-weight: 800;
}

.title-box span {

  color: #38b6ff;
}

.line {

  width: 90px;
  height: 5px;

  background: linear-gradient(
    90deg,
    #38b6ff,
    #ff1744
  );

  margin: 20px auto;

  border-radius: 20px;
}

/* TABLE */

.table-container{

    background:#fff;

    border-radius:25px;

    overflow:hidden;

    border:1px solid #e5e7eb;

    box-shadow:
        0 4px 6px rgba(0,0,0,.05),
        0 10px 15px rgba(0,0,0,.08),
        0 20px 25px rgba(0,0,0,.06);

}

table{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

th:nth-child(1),
td:nth-child(1){
    width:60px;
}

th:nth-child(2),
td:nth-child(2){
    width:auto;
}

th:nth-child(3),
td:nth-child(3){
    width: 180px;
    text-align: center;
}

/* HEADER */

thead {

  background: linear-gradient(
    90deg,
    #1e88e5,
    #2497db
  );

  color: white;
}

thead th {
  padding: 25px;
  text-align: left;
  font-size: 18px;

  border-right: 1px solid rgba(255,255,255,0.3);
}

thead th:last-child {
  border-right: none;
}

/* BODY */

tbody tr {

  transition: 0.3s;
}

tbody tr:nth-child(even) {

  background: #f8fbff;
}

tbody tr:hover {

  background: #e9f4ff;
}

tbody td {

  padding: 22px;

  border-bottom: 1px solid #dde7f2;
  border-right: 1px solid #dde7f2;
}

tbody td:last-child{
  border-right:none;
}

/* STATUS */

.status {

  background: #d4f4d7;

  color: #198754;

  padding: 8px 18px;

  border-radius: 30px;

  font-size: 14px;

  font-weight: 600;
}

/* RESPONSIVE */

@media(max-width:768px){

  .gereja-section{
    padding:120px 20px;
  }

  .title-box h1{
    font-size:38px;
  }

  table{
    font-size:14px;
  }

}

/* SEARCH */

.search-box {

  margin-bottom: 30px;

  display: flex;
  justify-content: flex-end;
}

.search-box input {

  width: 320px;

  padding: 15px 20px;

  border: none;

  border-radius: 12px;

  outline: none;

  font-size: 16px;

  box-shadow:
  0 5px 20px rgba(0,0,0,0.08);
}